<html>
<head>
	<title>Art</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
	<div id="art_info_panel">
		<img src="../{{art_pic}}" alt="{{title}}" class="profile_pic">
		<p class="title" id="art_name">{{title}}</p>
		<div class="artist_link_div">
			<p class="title" id="artist_name">By: Karen Cusolito</p>
			<a href="/{{title}}/artist"><span class="invisible_mask"></span></a>
		</div>
	</div>
<div class="textDiv">
	<p class="subtitle" id="art_title">About the Art</p>
	{{#each about_art}}
		<p> {{this}} </p>
	{{/each}}
	{{>twitter}}
</div>


{{>navBar}}

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>