<html>
<head>
	<title>Art</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
	<div class="info_panel" id="art_info_panel">
		<a href="./gallery"><img src="{{art_pic}}" alt="{{title}}" class="profile_pic"></a>
		<h4 class="title" id="art_name">{{title}}</h4>
		<div class="artist_link_div">
			<p class="title text-right" id="artist_name">{{#each artist}}
				{{name}}<br/>
				{{/each}}</p>
			<a href="/{{title}}/artist"><span class="invisible_mask"></span></a>
		</div>
	</div>
<div class="textDiv">
	<h3 class="subtitle" id="art_title">About The Art</h3>
	{{#each about_art}}
		<p class="art_text"> {{this}} </p>
	{{/each}}
	{{>twitter}}
</div>


{{>navBar}}

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>